<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
    <h1>
        <p class="text-center">{{cocktailname}}</p>
    </h1>
</div>
    <br>
    <h3>Kuvaus:</h3>
    {{description.description}}
    <hr>
    <h4>Ainesosat:</h4>
    {% for ingredient in ingredients%}
    <li>
        <strong>{{ingredient.name}}</strong> <br>
        Määrä: {{ingredient.amount}} cl <br>
        <hr>
    </li>
    {%endfor%}
    <hr>
</div>
</div>

    <p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            {%if category == "message"%}
            <div class="alert alert-success" role="alert">
                <li class="{{ category }}">{{ message }}</li>
            </div>
            {%else%}
            <div class="alert alert-danger" role="alert">
                <li class="{{ category }}">{{ message }}</li>
            </div>
            {%endif%}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>
    <p>
        <a class="btn btn-primary" href="/"> Takaisin </a>
    </p>
    <h3>
        <p class="text-center">Arvosteluja:</p>
    </h3>
    {%for review in reviews%}
    <p>
        <div class="card">
            <h5 class="card-header">{{review.name}}</h5>
            <div class="card-body">
              <h5 class="card-title">{{review.rating}}/5</h5>
              <p class="card-text">{{review.content}}</p>
            </div>
            <div class="card-footer text-muted">
                {{review.date}}
            </div>
        </div>
    </p>
    <hr>
    {%endfor%}
    <p>
        {% if session.username %}
        <form action="/leave_review" method="POST">
            <p>
                <h3>Arvostele cocktail!</h3> <br>
                <input type="radio" name="review_rating" value="1" checked> 1
                <input type="radio" name="review_rating" value="2"> 2
                <input type="radio" name="review_rating" value="3"> 3
                <input type="radio" name="review_rating" value="4"> 4
                <input type="radio" name="review_rating" value="5"> 5
            </p>
            <div class="form-group">
            <textarea class="form-control" type="text" rows="4" cols="30" name="review_text" required></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" name="review_done">Arvostele!</button!
        </form>
        {% else %}
        <p> Kirjaudu sisään kommentoidaksesi </p>
        {% endif %}
</div>