<h1>Cockatail</h1>  
<p>
<form action="/result" method="GET">
<input type="text" name="query" placeholder="Etsi reseptiä tai ainesosaa...">
<input type="submit" name="search" value="Etsi">
</form>
</p>
<br>
{% if session.username %}
<p>{{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p> Vieras </p>
<a href="/userlogin"> Kirjaudu sisään</a>
{% endif %}
<br>
<p>
Cocktailit:
<p>
<hr>
{% for recipe in recipes%}
{{recipe.name}}
<a href="/cocktail/{{recipe.name}}"> Katso</a>
<hr>
{%endfor%}
<p>
<a href="/newcocktail"> Tee uusi cocktail</a>
