<h1> Tee cocktail </h1>
<hr>
<p>
Lisää viinas:
<form action="/addalcohol" method="POST">
<select name="alcohol" method="POST">
    {% for alcohol in alcohols %}
    <option value="{{alcohol.name}}"> {{alcohol.name}} </option>
        {% endfor %}
    </select>
    Määrä senttilitroissa: <input type="number" min="1" value="1" name="amount">
<input type="submit" value="Lisää">
</form>
<br>
<p>
Lisää mixeri:
<form action="/addmixer" method="POST">
<select name="mixer" method="POST">
    {% for mixer in mixers %}
    <option value="{{mixer.name}}"> {{mixer.name}} </option>
        {% endfor %}
    </select>
    Määrä senttilitroissa: <input type="number" min="1" value="1" name="amount">
<input type="submit" value="Lisää">
</form>
<br>
<p>
Etkö löydä etsimääsi ainesoaa? <a href="/addingredient"> Lisää se listalle!</a> 
<p>
    <p>
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}
    </p>
Juoman rakenne: <br>
<ol>
<form action="/newcocktail2">2
{%for ingredient in ingredients%}
<li>
    {{ingredient}} 
    <ul>
    Määrä: {{ingredients[ingredient]}} cl
    </ul> 
    <hr>
</li>
{%endfor%}
<input type="submit" value="Jatka" name="continue">
</form>
<form action="/reset"> 
<input type="submit" value="Palauta" name="reset">
</form>
</ol>