<h1> Viimeistele cocktail </h1>
<hr>
Juoman rakenne: <br>
<ol>
{%for ingredient in ingredients%}
<li>
    {{ingredient}} 
    <ul>
    Määrä: {{ingredients[ingredient]}} cl
    </ul> 
    <hr>
</li>
{%endfor%}
<form action="/makecocktail", method="POST" onsubmit="return check(this)">
<p>
Lisää Juomallesi kuvaus! <br>
<textarea type="text" rows="4" cols="30" name="description"></textarea>
<p>
Anna juomallesi eeppinen nimi! <br>
<input type="text" name="name">
<p>
<input type="submit" name="finish" value="Valmista!">
</form>

<script>
    function check(form) {
        if (form.name.value.length > 40) {
            alert("Nimi on liian pitkä");
            return false;
        }
        if (form.name.value.length < 2) {
            alert("Nimen tulee olla vähintään 2 merkkiä pitkä");
            return false;
        }
        if (form.description.value.length == 0) {
            alert("Anna juomallesi kuvaus!");
            return false;
        return true;
    }
</script>