<h1> Viimeistele cocktail </h1>
<hr>
Juoman rakenne: <br>
<ol>
{%for ingredient in ingredients%}
<li>
    {{ingredient}} 
    <ul>
    Määrä: {{ingredients[ingredient]}} cl
    </ul> 
    <hr>
</li>
{%endfor%}
<form action="/makecocktail", method="POST">
<p>
Lisää Juomallesi kuvaus! <br>
<textarea type="text" rows="4" cols="30" name="description" required></textarea>
<p>
Anna juomallesi eeppinen nimi! <br>
<input type="text" name="name" minlength="3" required>
<p>
<input type="submit" name="finish" value="Valmista!">
</form>

<p>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
       {% endif %}
    {% endwith %}
</p>