<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<div class="container">
    <p>
        <form action="/createuser" method="POST">
            <div class="form-group">
                <p><label for="username">Uusi käyttäjätunnus:</label><br>
                    <input type="text" name="username" minlength="3" maxlength="25" required></p>
            </div>
            <div class="form-group">
                <p><label for="password1">Salasana:</label><br>
                    <input type="password" name="password1" minlength="6" required></p>
            </div>
            <div class="form-group">
                <p><label for="password2">Salasana uudelleen:</label><br>
                    <input type="password" name="password2" minlength="6" required></p>
                <button type="submit" class="btn btn-success">Tee käyttäjä</button>
        </form>
    </p>

    <p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            {%if category == "message"%}
            <div class="alert alert-success" role="alert">
                <li class="{{ category }}">{{ message }}</li>
            </div>
            {%else%}
            <div class="alert alert-danger" role="alert">
                <li class="{{ category }}">{{ message }}</li>
            </div>
            {%endif%}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>
    <p>
        <a class="btn btn-primary" href="/userlogin"> Takaisin </a>
    </p>
</div>